language: r
warnings_are_errors: true
sudo: required
cache: packages

os:
  - linux
  - osx

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; 
      then 
        sudo apt-get update -qq ;
        sudo apt-get install libmng2 ; 
        sudo apt-get install libmng1 ; 
        sudo updatedb;
    fi
  - wget https://fsl.fmrib.ox.ac.uk/fsldownloads/fslinstaller.py ;
  - python --version
  - travis_wait 100 sudo python fslinstaller.py -V 5.0.10 -d /usr/local/fsl --quiet || echo "couldn't install";    
  - locate libmng.so.1 || echo "fail libmng1"
  - locate libmng.so.2 || echo "fail libmng2"
  # - if [ "$TRAVIS_OS_NAME" = "linux" ]; 
  #     then
  #       OS_DISTRIBUTION=$(lsb_release -cs) ;
  #       echo ${OS_DISTRIBUTION}; 
  #       wget -O- http://neuro.debian.net/lists/${OS_DISTRIBUTION}.us-nh.full | sudo tee /etc/apt/sources.list.d/neurodebian.sources.list ;
  #       sudo apt-key adv --recv-keys --keyserver hkp://pool.sks-keyservers.net:80 0xA5D32F012649A5A9 ;
  #       sudo apt-get update -qq ;
  #       sudo apt-get install -y fsl ;
  #   fi
  # - if [ "$TRAVIS_OS_NAME" = "osx" ]; 
  #   then 
  #     wget https://fsl.fmrib.ox.ac.uk/fsldownloads/fslinstaller.py ;
  #     sudo python fslinstaller.py -d /usr/local/fsl -q ;
  #   fi  

r_check_args: "--as-cran --install-args=--build"

after_success:
  - Rscript -e 'covr::coveralls(type = "all")'
  - Rscript -e 'covr::codecov(type = "all")'

notifications:
  email:
    on_success: change
    on_failure: change

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: Y+JfKm3oXRUxpxyWjBtXimuBcuv3+D5iakzCwMJLqEDPjd+w9ow1x5a4GN/LfFg8Lbhflc8Uaz2bpxRuD5enk+RRmFtcXBB/IsnxkXBEM3fA2eT4ZIxq/aTt4HisOdXclyZc5PxAXFOVO8/QWcjh3boqSpOjscS0kYCWkm4KT9M=
  file_glob: true    
  file: fslr*.t*gz
  on:
    tags: true    
    repo: muschellij2/fslr