language: r
warnings_are_errors: true
sudo: false
cache: packages

os:
  - linux
  - osx

r_check_args: "--as-cran --install-args=--build"

after_success:
  - Rscript -e 'covr::coveralls(type = "all")'
  - Rscript -e 'covr::codecov(type = "all")'

notifications:
  email:
    on_success: change
    on_failure: change

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: Y+JfKm3oXRUxpxyWjBtXimuBcuv3+D5iakzCwMJLqEDPjd+w9ow1x5a4GN/LfFg8Lbhflc8Uaz2bpxRuD5enk+RRmFtcXBB/IsnxkXBEM3fA2eT4ZIxq/aTt4HisOdXclyZc5PxAXFOVO8/QWcjh3boqSpOjscS0kYCWkm4KT9M=
  file_glob: true    
  file: fslr*.t*gz
  on:
    tags: true    
    repo: muschellij2/fslr