export(cal_img)
export(check_file)
export(checkimg)
export(checkout)
export(flirt)
export(fslerode)
export(fslfill)
export(fslhd)
export(fslhd.parse)
export(fslmask)
export(fslmerge)
export(fslrange)
export(fslsmooth)
export(fslsub2)
export(fslthresh)
export(fslview)
export(get.fsl)
export(get.fsloutput)
export(get.imgext)
export(getForms)
export(have.fsl)
export(nii.stub)
export(tempimg)
export(zero_trans)
import(oro.nifti)
import(stringr)
